<br>
<h1> Add emp <button><a href="/emp_list">teacher List</a></button> </h1>

<form action="/save_emp" method="post">
    name
    <input type="text" name="emp_name"><br><br>
    emp_mobile
    <input type="number" name="emp_number"><br><br>
emp_email
    <input type="email" name="emp_email"><br><br>
    emp_address
    <input type="text" name="emp_address"><br><br>
    <button>save teacher</button>
</form>