<h1>register new here</h1>
<form action="/save" method="post">
    enter username:
    <input type="text" name="username"><br><br>
    enter password:
    <input type="password" name="password"><br><br>
    <button>register</button> 
</form>     