<br>
<h1> Add teacher  <button><a href="/teacher_list">teacher List</a></button> </h1>

<form action="/save_teacher" method="post">
    name
    <input type="text" name="teacher_name"><br><br>
    teacher_mobile
    <input type="number" name="teacher_mobile"><br><br>
teacher_email
    <input type="email" name="teacher_email"><br><br>
    teacher_password
    <input type="password" name="teacher_password"><br><br>
    <button>save teacher</button>
</form>