<h1>add employee</h1>
<form action="/save" method="post" style="background-color: blueviolet; border: 2px solid black;margin: 20px;">
    employee name:
    <input type="text" name="ename"><br><br>
    employee mobile:
    <input type="number" name="emobile"><br><br>

    married:
    <select name="emarried" >
        <option value="no">no</option>
        <option value="yes">yes</option>
    </select><br>
    gender:
    <input type="radio" name="egender" value="male">male
    <br><br>
    <input type="radio" name="egender" value="female">female
    <br><br>
    <button>save</button>
</form>