<h1>welcome ejs</h1>
<form action="/home">
    enter first number:
    <input type="number" name="num1">
    enter secound number:
    <input type="number" name="num2">
    <br>
    <button>addition</button>
</form>