
<br><br>
<h1>add card</h1>
<form action="/save" method="post" enctype="multipart/form-data">
    card image:
    <input type="file" name="cimg"><br><br>
    card caption:
    <input type="text" name="caption"><br><br>
    card description:
    <textarea name="cdes" ></textarea><br><br>
    <button>save card</button>
</form>