<h1>registration form</h1>
<form action="/save" method="post">
    enter name:
    <input type="text" name="student_name">
    enter number:
    <input type="number" name="student_mobile">
    enter your email
    <input type="email" name="student_emial">
    <br>
    <button>save noe</button>
</form>