<h1>registration form</h1>
<form action="/save" method="post">
    enter techer name:
    <input type="text" name="teacher_name">
    enter techer number:
    <input type="number" name="teacher_mobile">
    enter your techer email
    <input type="email" name="teacher_email">
    <br>
    <button>save noe</button>
</form>